body {
	font-family: Raleway;
	margin: 0;
	text-align: center;
}

header {
	background: #F15B31;
	color: #FFFFFF;
	padding: 30px 20px;
}

nav {
	background: #00A6B3;
	color: #FFFFFF;
	padding: 20px 0;
}

main {
	width: 850px;
	margin: 35px auto;
}

h1 {
	font-weight: 400;
	font-size: 45px;
	letter-spacing: 1px;
	margin: 0;
	text-transform: uppercase;
}

h2 {
	color: #0D2C40;
	font-weight: 600;
	font-size: 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

img {
	margin: 40px 8px 0
}

a {
	text-decoration: none;
	border-bottom: 2px solid transparent;
}

a:hover {
	border-color: white;
}

footer {
	background: #0D2C40;
	color: white;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: .08em;
	text-transform: uppercase;
	padding: 0 20px;
}

.menu {
	color: #FFFFFF;
	font-weight: 600;
	font-size: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.menu a {
	margin: 0 20px;
}

.rules {
	font-family: "droid serif";
	font-size: 18px;
	line-height: 26px;
}

.copyright {
	float: left;
}

.message {

	float: right;
}

.clearfix:after {
	clear: both;
	content: " ";
	display: block;
	height: 0;
	font-size: 0;
	visibility: hidden;
}

.name {
	color: #F15B31;
	font-weight: 700;
}